# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env

# Downloads
downloads/
downloades/

# Chroma DB
vector_db/

# Whisper cache
models/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml
